@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light)
}


.crud-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.crud-header h2 {
    font-size: 1.5rem;
    color: var(--color-dark);
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-2);
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn-primary:hover {
    background: var(--color-primary-variant);
    color: #fff;
}

.btn-success {
    background: var(--color-success);
    color: var(--color-white);
}

.btn-danger {
    background: var(--color-danger);
    color: var(--color-white);
}
.btn-warning {
    background: var(--color-warning);
    color: var(--color-white);
}

.btn-success:hover, .btn-danger:hover, .btn-warning:hover {
    opacity: 0.8;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal-content {
    background: var(--color-white);
    padding: 2rem;
    border-radius: var(--card-border-radius);
    width: 43rem; /* Largura da modal */
    max-height: 95vh; /* Limita a altura a 80% da altura da janela */
    overflow-y: auto; /* Habilita rolagem vertical para conteúdo excedente */
    box-shadow: var(--box-shadow);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content h2 {
    margin-bottom: 1.5rem;
    color: var(--color-dark);
}

.modal-content label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-dark);
    font-size: 0.9rem;
}

.modal-content input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-light);
}
.modal-content input[type="text"] {

    background-color: #b1b1b1;

}

.close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--color-danger);
}

.close-modal:hover {
    opacity: 0.8;
}

body.modal-open {
    overflow: hidden; /* Evita rolagem enquanto a modal está aberta */
}


.modal-content input, .modal-content select, .modal-content textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--color-light);
    resize: none;
}

.order-items-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    text-align: center;
}

.order-items-table th, .order-items-table td {
    border: 1px solid var(--color-light);
    padding: 0.8rem;
    text-align: center;
    font-size: 0.9rem;
}

.order-items-table th {
    background: var(--color-light);
    color: var(--color-dark);
}

.order-items-table td {
    background: var(--color-white);
}

.recent-orders-header {
    display: flex;               /* Ativa o Flexbox */
    justify-content: space-between; /* Faz o título ir para a esquerda e o botão para a direita */
    align-items: center;         /* Alinha os itens verticalmente no centro */
    margin-bottom: 1.5rem;       /* Adiciona espaçamento abaixo do cabeçalho */
}

.recent-orders-header h2 {
    margin: 0;                   /* Remove a margem padrão do título h2 */
    font-size: 1.5rem;           /* Ajuste de tamanho do título */
    color: var(--color-dark);    /* Ajuste da cor do título, se necessário */
}

.recent-orders-header .btn {
    padding: 0.5rem 1rem;        /* Ajuste de padding do botão */
    border-radius: var(--border-radius-2); /* Borda arredondada */
    border: none;                /* Remove a borda padrão */
    cursor: pointer;             /* Mostra o cursor como pointer */
    background-color: var(--color-primary); /* Cor de fundo do botão */
    color: var(--color-white);    /* Cor do texto do botão */
    text-decoration: none;       /* Remove o sublinhado do link */
    transition: background 0.3s ease; /* Animação de transição de cor */
    margin-left: 70rem;
}

.recent-orders-header .btn:hover {
    background-color: var(--color-primary-variant); /* Cor de fundo ao passar o mouse */
    color: #fff;                          /* Cor do texto ao passar o mouse */
}

.search-box {
    margin: 20px 0;
    text-align: center;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
}

#search-input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 10px 0;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
}